@import "./typography";

$heading-font-sizes: (
  h1: (font-size-from-px(32px), font-size-from-px(36px), font-size-from-px(40px), 700),
  h2: (font-size-from-px(24px), font-size-from-px(26px), font-size-from-px(26px), 600),
  h3: (font-size-from-px(22px), font-size-from-px(24px), font-size-from-px(24px), 600),
  h4: (font-size-from-px(20px), font-size-from-px(20px), font-size-from-px(22px), 500),
  h5: (font-size-from-px(18px), font-size-from-px(18px), font-size-from-px(20px), 500),
  h6: (font-size-from-px(16px), font-size-from-px(16px), font-size-from-px(18px), 500)
);


@each $heading, $values in $heading-font-sizes {
  #{$heading} {
    @include responsive-font(nth($values, 1), nth($values, 2), nth($values, 3));
    @include font-title(nth($values, 4));
  }
}


p {
  @include responsive-font(font-size-from-px(16px), font-size-from-px(16px), font-size-from-px(18px));
  @include font-body(400);
  line-height: 1.5;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.1em;
}

.lead-paragraph {
  @include font-body(500);
  font-size: font-size-from-px(21px);
  line-height: 1.55;
}
