
$box-shadow-light: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
$box-shadow-md: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
$box-shadow-strong: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);


$box-shadow-light-hover: 0 0.0625rem calc(2px + 0.125rem) rgba(0, 0, 0, 0.1);
$box-shadow-md-hover: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
$box-shadow-strong-hover: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);


$container-max-width: 1440px;


$header-height: 4rem;


$image-aspect-ratio: percentage(1/(19/10));


:root {

  --container-max-width: #{$container-max-width};
  --container-padding-x: #{$space-4};

  @media (min-width: $breakpoint-md) {
    --container-padding-x: #{$space-6};

  }

  @media (min-width: #{$breakpoint-2xl}) {
    --container-padding-x: calc((100% - var(--container-max-width)) / 2);

  }

  --image-aspect-ratio: #{$image-aspect-ratio};
}
