@layer components {
  @import "./hero";
  @import "./features";
  @import "./details";
  @import "./call-for-papers";
  @import "./blog";
  @import "./location";
  @import "./accommodations";
  @import "./sponsors";
  @import "./supporters";
  @import "./subscribe";
  @import "./buy-ticket";
  @import "./keynotes";
  @import "./schedule";
  @import "./speakers";
  @import "./city";
}