{{ define "main" }}

{{ partial "sections/hero.html" . }} {{/* Hero section: main banner or introduction */}}
{{ partial "sections/features.html" . }} {{/* Features section: highlights key features */}}
{{ partial "sections/city.html" . }} {{/* City section: information about the city */}}
{{/* partial "sections/buy-ticket.html" . */}} {{/* Buy a ticket */}}
{{/* partial "sections/keynotes.html" . *}} {{/* Keynotes section: keynote speakers */}}
{{ partial "sections/cfp.html" . }} {{/* Call for Papers section: submission info */}}
{{/* partial "sections/schedule.html" . */}} {{/* Schedule section: event schedule */}}
{{/* partial "sections/speakers.html" . */}} {{/* Speakers section: list of speakers */}}
{{ partial "sections/blog.html" . }} {{/* Blog section: latest news or posts */}}
{{ partial "sections/sponsors.html" . }} {{/* Sponsors section: sponsor logos/info */}}
{{ partial "sections/supporters.html" . }} {{/* Supporters section: supporter logos/info */}}
{{ partial "sections/location.html" . }} {{/* Location section: event or company location */}}
{{ partial "sections/accommodations.html" . }} {{/* Accommodation section: information about partner hotels */}}
{{ partial "sections/subscribe.html" . }} {{/* Subscribe section: newsletter signup */}}

{{ end }}